body {
  /* overflow-x: hidden; */
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.col {
  padding-left: 0;
  padding-right: 0;
}

.image-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/image1.jpg);
  background-size: cover;
  background-position: center;
}

#home-heading {
  position: relative;
  height: 150px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/lights.jpg);
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  padding-bottom: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #35424a;

  max-width: 250px;
}

.box img {
  width: 90px;
}

.row {
  justify-content: center;
}

/* .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
} */

#page-header {
  height: 200px;
  background: url("../img/image1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px solid #eee;
  padding-top: 50px;
}

#projects {
  margin: 4vh 0;
}
.footer {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  padding-top: 10px;
}
